<div class="bg"></div>
<div class="header">
  <div class="row">
    <button class="btn btn-secondary" [routerLink]="['/dashboard']">
      <i class="material-icons" style="font-size: 1em">arrow_back_ios</i>
      <span>Back</span>
    </button>
  </div>
  <span class="title">About IBControl</span>
</div>
<div class="about-container">
  <div class="logo-row">
    <div class="logo-side"></div>
    <div class="logo">
      <div class="logo-container">
        <div class="main">IBControl</div>
        <div class="tag-line" translate>Display brightness control<br>for Valve Index</div>
      </div>
    </div>
    <div class="logo-side">
      <span class="version">v{{ version }}</span>
    </div>
  </div>
  <div class="row">
    <div class="author">
      <div class="author-avatar">
        <img
          draggable="false"
          appImgFallback="assets/img/raphiiko.png"
          src="https://github.com/Raphiiko/IBControl/raw/develop/src/assets/img/raphiiko.png"
        />
      </div>
      <div class="author-info">
        <div class="role">Developer</div>
        <div class="name">Raphii</div>
        <div class="twitter">
          <i class="fa-brands fa-twitter"></i>
          <a href="https://twitter.com/Raphiiko" target="_blank">@Raphiiko</a>
        </div>
        <div class="discord">
          <i class="fa-brands fa-discord"></i>
          <span>Raphii</span>
          <span style="opacity: 0.5">#0001</span>
        </div>
        <div class="github">
          <i class="fa-brands fa-github"></i>
          <a href="https://github.com/Raphiiko" target="_blank">Raphiiko</a>
        </div>
      </div>
    </div>
    <div class="project-info">
      <div class="project-info-title">Project Links</div>
      <div class="project-links">
        <a href="https://github.com/Raphiiko/IBControl" target="_blank" translate>Source Code</a>
        <br/>
        <a href="https://discord.gg/7MqdPJhYxC" target="_blank" translate>Discord</a>
      </div>
    </div>
  </div>
</div>
